.config/*
!.config/nvim
!.config/zsh
!.config/lazygit/config.yml
!.config/tmux
!.config/starship.toml
!.config/alacritty.toml

.config/zsh/secrets.zsh
.zhistory
.config/lazygit/state.yml
.config/zsh/.zcompdump
